<!DOCTYPE html>
<html>
<head>
	<title>Calendar</title>
</head>
<body>
  <h1>Home</h1>
  <p>Hi!</p>
  <a href="/calendar">calendar</a>
  <a href="/pt">pt</a>
  <a href="/en">en</a>
  <a href="/de">de</a>
  <a href="/es">es</a>
	
<select class="language">
	<option values="en">en</option>
	<option values="pt">pt</option>
	<option values="de">de</option>
	<option values="es">es</option>
</select>

<select class="month">
	<option values="1">1</option>
	<option values="2">2</option>
	<option values="3">3</option>
	<option values="4">4</option>
	<option values="5">5</option>	
	<option values="6">6</option>
	<option values="7">7</option>
	<option values="8">8</option>
	<option values="9">9</option>
	<option values="10">10</option>
	<option values="11">11</option>
	<option values="12">12</option>
</select>
	
</body>
</html>
