<!DOCTYPE html>
<html>
<head>
	<title>Calendar</title>
</head>
<body>
  <h1>Home</h1>
  <p>Hi!</p>
	
  <h2>June</h2>
  <a href="/calendar">calendar</a>
  <a href="/pt-junho">pt</a>
  <a href="/en-june">en</a>
  <a href="/de-juni">de</a>
  <a href="/es-junio">es</a>

  <h2>July</h2>
  <a href="/calendar">calendar</a>

  <br>
  <br>
  <br>

  <select class="language">
    <option values="en">English</option>
    <option values="pt">Portuguese</option>
    <option values="de">German</option>
    <option values="es">Spanish</option>
    <option values="fr">French</option>
    <option values="it">Italan</option>
    <option values="du">Dutch</option>
  </select>

  <select class="month">
    <option values="1">January</option>
    <option values="2">February</option>
    <option values="3">March</option>
    <option values="4">April</option>
    <option values="5">May</option>
    <option values="6">June</option>
    <option values="7">July</option>
    <option values="8">August</option>
    <option values="9">September</option>
    <option values="10">October</option>
    <option values="11">November</option>
    <option values="12">December</option>
  </select>
	
  <script src="script.js"></script>
</body>
</html>
